# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# source code
/src

# demo page
/index.html
/public

# config files
.gitattributes
.nvmrc
.babelrc
.eslintrc
.prettierrc
.releaserc
tsconfig.build.json
tsconfig.json
vite.config.js

# informational
CHANGELOG.md
CONTRIBUTING.md

# misc
.DS_Store
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
