div#boarding-popover-item {
  color: #2d2d2d;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}
div#boarding-popover-item .boarding-popover-footer {
  display: block;
  margin-top: 10px;
}
div#boarding-popover-item .boarding-popover-footer button {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #d4d4d4;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  color: #2d2d2d;
  font: 11px / normal sans-serif;
  cursor: pointer;
  outline: 0;
  background-color: #f1f1f1;
  border-radius: 2px;
  zoom: 1;
  line-height: 1.3;
}
div#boarding-popover-item .boarding-popover-footer button.boarding-disabled {
  color: #808080;
  cursor: default;
  pointer-events: none;
}
div#boarding-popover-item .boarding-popover-footer .boarding-close-btn {
  float: left;
}
div#boarding-popover-item .boarding-popover-footer .boarding-close-only-btn {
  float: right;
}
div#boarding-popover-item .boarding-popover-footer .boarding-btn-group {
  float: right;
}
div#boarding-popover-item .boarding-popover-title {
  font: 19px / normal sans-serif;
  margin: 0 0 5px;
  font-weight: bold;
  display: block;
  position: relative;
  line-height: 1.5;
  zoom: 1;
}
div#boarding-popover-item .boarding-popover-description {
  margin-bottom: 0;
  font: 14px / normal sans-serif;
  line-height: 1.5;
  color: #2d2d2d;
  font-weight: normal;
  zoom: 1;
}
.boarding-clearfix:before {
  content: "";
  display: table;
}
.boarding-clearfix:after {
  clear: both;
  content: "";
  display: table;
}
